body {
  background-image:url(C:/Users/leens/Downloads/b12.png);
}

h1 {
  text-align: center;
  color: brown;
  margin-left: 30px;

}
 h2
{
font-size: 28px;
text-align: center;
color: darkgreen
}
 
 
p {
  font-family: cursive;
  font-size: 20px;
  color:black;
}
h3
{
font-size: 28px;
text-align: center;
color: darkgreen
}
h4
{
font-size: 28px;
text-align: center;
color: darkgreen
}
h5
{
font-size: 28px;
text-align: center;
color: darkgreen
}

h6
{
font-size: 28px;
text-align: center;
color: darkgreen
}

